.see-attraction-details-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 22px;
  gap: 30px;

  &__header {
    &__title {
      color: $color-brand-1;
    }

    &__subtitle {
      color: $color-gray-1;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__description {
      color: $color-gray-1;
    }
  }

  &__info-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;

    &__item {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }

  &__add-button {
    color: $color-gray-4;
  }
}
