.trip-script-preview {
  min-height: 80vh;
  padding: 0;

  @media (min-width: $breakpoint-md) {
    padding: 0 24px 24px 0;
  }
}

.trip-script-preview-day-section {
  background-color: #f7fcfc;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 20px;
  border-radius: 20px 20px 0 0;
  gap: 34px;
  z-index: -5;

  &__border {
    border-radius: 10px;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      padding: 20px;
      border: 2px solid $color-gray-3;
      max-width: 850px;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    font-weight: 500;
  }

  &__title,
  &__subtitle {
    margin: 0 !important;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 12px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
}

.trip-script-preview-blocked-section {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 44px 44px;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(250, 250, 250, 1) 75%, rgba(0, 0, 0, 0) 95%);

  &__box {
    border: 1px dashed $color-brand-1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 14px;

    &__text {
      font-size: 16px;
      color: $color-brand-2;
      text-align: center;
    }
  }
}

.trip-script-preview-detailed-day__modal {
  max-height: 600px;
  width: 100%;
  overflow-y: scroll;
  background-color: #f7fcfc;
  border-radius: 16px;

  &__container {
    margin: 22px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;

    &__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;

      &__title {
        color: $color-brand-1;
        font-weight: 700;
      }

      &__action {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 14px;

        &__header {
          display: flex;
          gap: 8px;

          &__icon > img {
            min-width: 33px;
          }

          &__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            &__title {
              color: $color-brand-2;
              font-weight: 700;
            }

            &__subtitle {
              color: $color-gray-1;
              font-size: 12px;
            }

            &__title,
            &__subtitle {
              margin-top: 0 !important;

              @media (min-width: $breakpoint-md) {
                font-size: 14px;
              }
            }
          }
        }

        &__description {
          color: $color-gray-1;
          font-size: 12px;

          @media (min-width: $breakpoint-md) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
