.thumbnail-carousel {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  &__viewport {
    overflow: hidden;
  }

  &__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);

    &__slide {
      flex: 0 0 var(--slide-size);
      min-width: 0;
      padding-left: var(--slide-spacing);
  
      &__number {
        box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
        border-radius: 1.8rem;
        font-size: 4rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--slide-height);
      }
    }
  }

}

.carousel-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
  margin-top: var(--thumbs-slide-spacing);

  &__viewport {
    overflow: hidden;
    &__container {
      display: flex;
      flex-direction: row;
      margin-left: calc(var(--thumbs-slide-spacing) * -1);
  
      &__slide {
        flex: 0 0 22%;
        min-width: 0;
        margin-left: var(--thumbs-slide-spacing);
    
        @media (min-width: 576px) {
          flex: 0 0 15%;
        }
      }
    }
  }
}

.thumbnail-fullview {
  transition: all .3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

    &--active {
      transition: all .3s ease;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);

      &__image > img {
        width: 100%;
      }
   }
}