.page-app {
  background-color: $color-gray-4;
  flex-grow: 1;
  &__container {
    border-radius: 32px 32px 0 0;
    padding: 32px 16px;
    @media (min-width: $breakpoint-md) {
      padding: 32px 24px;
    }
  }
}
