.page-app {
  background-color: $color-brand-7;
  display: flex;
  justify-content: center;
  height: 100%;
  &__container {
    flex-grow: 1;
    border-radius: 32px 32px 0 0;
    padding: 32px 16px;
    @media (min-width: $breakpoint-md) {
      padding: 32px 24px;
    }
    @media (max-width: $breakpoint-sm) {
      padding-top: 0;
    }
  }
}
