.page-app-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &__container {
    flex-grow: 1;
    border-radius: 32px 32px 0 0;
    padding: 32px 16px;
    @media (min-width: $breakpoint-md) {
      padding: 32px 24px;
    }
  }
}
