.page-app-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &__card {
    flex-grow: 1;
    background-color: $color-brand-7;
    border-radius: 32px 32px 0 0;
    padding: 32px 24px;
  }
}
