.trip-dashboard {
  gap: 25px;
}

.trip-dashboard-card {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid transparent;
  transition: background-color ease 150ms, border-color ease 150ms;
  &:hover {
    background-color: $color-brand-7;
    border-color: $color-brand-6;
  }
}
