.trip-configuration {
  border-radius: 10px;
  color: $color-gray-4;
  width: 100%;
  max-width: 780px;
  height: 150px;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 100%;

    &__header-text {
      margin-top: 5px;
      color: #94fff8;
    }

    &__footer {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 8px;

      &__city-name {
        color: $color-gray-4;
      }
    }
  }
}
