.tag {
  text-align: center;
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--color-brand-4);
  color: var(--color-brand-2);
  border-radius: $border-radius-md;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
