.traveler-destination-card {
  border-radius: 10px;
  padding: 15px;
  color: $color-gray-4;
  width: 100%;
  max-width: 780px;
  height: 370px;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    p {
      margin-top: 5px;
      color: #94fff8;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    &__price {
      font-size: 20px;
      margin-bottom: 8px;
    }

    button {
      color: $color-gray-4;
    }
  }
}
