.page-app-header {
  background-color: $color-brand-1;
  color: $color-white;
  padding: 32px 0;

  &__box {
    width: 100%;
    display: flex;
    align-items: center;

    &__back-button {
      padding-left: 0;
      padding-right: 20px;
      color: $color-gray-4;

      a {
        color: $color-gray-4;
      }
    }
    .btn--primary:hover {
      background-color: $color-brand-1;
    }
  }
}
