.page-app-header {
  background-color: $color-brand-1;
  color: $color-white;
  padding: 32px 16px;

  &__box {
    width: 100%;
    display: flex;
    align-items: center;

    &__avatar {
      margin-left: 0;
      margin-right: 20px;
    }

    .btn--primary:hover {
      background-color: $color-brand-1;
    }
  }
}
