.page-app-header {
  background-color: $color-brand-1;
  padding: 0 $spacing-lg;
  display: flex;

  > * {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $breakpoint-sm) {
      height: 102px;
    }
  }
  &__backButton,
  &__toggle,
  &__info {
    --color-text-primary: white;
    color: white;
  }
}

.page-app-header-extension {
  @media (max-width: $breakpoint-sm) {
    background-color: $color-brand-1;
    $radius-size: 24px;
    margin-bottom: $radius-size * -1;
    z-index: 1;
    position: relative;
    &::after {
      display: block;
      content: "";
      height: $radius-size;
      background-color: $color-brand-7;
      display: block;
      border-radius: $radius-size $radius-size 0 0;
    }
  }
}

.menu-modal {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: $spacing-xl;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    .divider:last-child {
      display: none;
    }
  }
  &__title {
    text-transform: uppercase;
    color: $color-gray-1;
    padding: $spacing-md 0;
  }
  &__action {
    width: 100%;
    justify-content: space-between !important;
    border: none;
    &:disabled {
      justify-content: flex-end !important;
      .icon {
        display: none;
      }
    }
  }
}
