.card-trip-new {
  $color-opacity: #b6eae677;
  background-color: $color-opacity;
  border: 1px dashed $color-brand-1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color ease 150ms;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-lg;
  }
  a.link.btn {
    color: $color-brand-1;
    border-color: $color-brand-1;
  }
  &__image {
    background-color: $color-brand-6;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
  }
  &:hover {
    background-color: $color-brand-7;
  }
}
