.trip-stay-checkout {
  &__header {
    color: $color-brand-1;
    margin-bottom: 18px;
  }

  &__title {
    color: $color-gray-1;
    padding-bottom: 8px;
  }

  &__section {
    margin: 12px 0;

    &__title {
      color: $color-brand-2;
    }
    &__text {
      margin-top: 0 !important;
      color: $color-gray-1;
    }
  }

  &__divider {
    margin: 24px 0;
  }
}