.trip-purchase {
  &__section {
    &__input {
      padding: 6px 0;
      width: 100%;
    }

    &__radio {
      padding: 12px 0;
      columns: 2;
    }

    &__content {
      padding-top: 12px;
    }
  }

  &__footer {
    padding: 24px 0;

    &__button {
      width: 100%;
    }
  }

  &__divider {
    padding: 24px 0;
  }

  &__response {
    text-align: center;

    input {
      border: none;
      background-color: $color-brand-4;
    }

    &-button {
      width: 100%;
    }
  }
}