.update-attractions {
  background-color: #ffffff;
  height: 100vh;
  max-height: 500px;

  div.container.container--lg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__list-area {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__add-action-button {
      text-align: left;
      color: $color-brand-1;
    }
  }

  &__save-button {
    width: 100%;
    max-width: 400px;
    color: $color-gray-4;
  }

  @media (min-width: $breakpoint-md) {
    max-height: none;
  }
}
