.update-attractions {
  background-color: #ffffff;
  max-height: 500px;

  div.container.container--lg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__save-button {
    width: 100%;
    color: $color-gray-4;
    margin-top: 18px;
  }

  @media (min-width: $breakpoint-md) {
    max-height: none;
  }
}
