.page-app-menu {
  background-color: $color-brand-1;
  padding: 0 $spacing-lg;
  // border-bottom: 1px solid #2222;
  display: flex;
  > * {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__toggle {
    color: white;
  }

  &__info {
    color: white;
  }
}

.menu-modal {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: $spacing-xl;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    .divider:last-child {
      display: none;
    }
  }
  &__title {
    text-transform: uppercase;
    color: $color-gray-1;
    padding: $spacing-md 0;
  }
  &__action {
    width: 100%;
    justify-content: space-between !important;
    border: none;
    &:disabled {
      justify-content: flex-end !important;
      .icon {
        display: none;
      }
    }
  }
}
