.curated-stay-list-item {
  border: 1px solid $color-gray-3;

  &__selected {
    border: 2px solid $color-brand-4;
    background-color: $color-background-gold;
  }

  &__recommendation-header {
    color: $color-brand-4;

    display: flex;
    gap: 8px;
    justify-content: flex-end;
  }

  &__features {
    display: flex;
    gap: 8px;
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shrink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.back-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 100px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.visible {
    animation: grow 0.3s forwards;
  }

  &.hidden {
    animation: shrink 0.3s forwards;
  }
}
