.profile-questions {
  background-color: $color-brand-1;
  min-height: 100vh;

  &__brand {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
  }

  &__caption {
    color: $color-text-secondary;
  }

  &__group {
    display: flex;
    overflow: hidden;
    margin: 0 -24px;

    > * {
      padding: 0 24px;
      min-width: 100%;
      transition: transform ease 300ms;
      transform: translateX(calc(-100% * var(--position, 0)));

      > *:not(:last-child) {
        margin-bottom: 48px;
        padding-bottom: 48px;
        border-bottom: 1px solid $color-divider;
      }
    }
  }
}

.profile-questions-navigation {
  display: flex;
  gap: 8px;
  &__next {
    min-width: 200px;
    @media (max-width: 420px) {
      flex-grow: 1;
    }
  }
}

.option {
  display: flex;
  gap: 16px;
  color: $color-text-disabled;
  cursor: pointer;
  transition: color ease 300ms;
  &:hover,
  &--is-checked {
    color: $color-text-primary;
  }

  &__state {
    display: inline-block;
    min-width: 18px;
    height: 18px;
    margin: 4px;
    border: 1px solid $color-text-secondary;
    transition: all ease 300ms;
    position: relative;
    &[data-checked="true"] {
      border-color: $color-brand-1;
    }
  }

  &.option--is-multiselect {
    .option__state {
      border-radius: 4px;
      &:after,
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background-color: transparent;
        border-radius: 1px;
        transition: background-color ease 300ms;
      }
      &:after {
        transform: rotate(-45deg);
        min-width: 9px;
        bottom: 8px;
        left: 5px;
      }
      &:before {
        transform: rotate(45deg);
        min-width: 5px;
        bottom: 6px;
        left: 3px;
      }
      &[data-checked="true"] {
        background-color: $color-brand-1;
        &:after,
        &:before {
          background-color: white;
        }
      }
    }
  }

  &:not(.option--is-multiselect) {
    .option__state {
      border-radius: 50%;
      &:after {
        content: "";
        position: absolute;
        display: block;
        min-width: 10px;
        height: 10px;
        top: 3px;
        left: 3px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color ease 300ms;
      }
      &[data-checked="true"]:after {
        background-color: $color-brand-1;
      }
    }
  }
}
