.playground {
  $header-size: 64px;
  max-width: 100vw;
  overflow: hidden;
  &__header {
    position: sticky;
    top: 0;
    min-height: $header-size;
    border-bottom: 1px solid $color-divider;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacing-xl;
    background-color: $color-background-secondary;
    z-index: 20;
  }
  &__ribo {
    iframe {
      width: 100%;
      height: calc(100vh - $header-size);
      border: none;
    }
  }

  @media (min-width: $breakpoint-lg) {
    height: 100vh;
    &__content {
      &--show-code {
        display: grid;
        grid-template-columns: 70vw 30vw;
      }
    }
    &__ribo {
      &--show-code {
        width: calc(100% - 16px);
      }
    }
    &__editor {
      border-left: 1px solid $color-divider;
      background: #1e1e1e;
      &__code {
        position: fixed;
        width: 30vw;
        top: $header-size;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.toggle-button {
  opacity: 0.5;
  color: $color-info-500;
  &--is-active {
    opacity: 1;
  }
}
