.reservations-panel {
  padding-bottom: 60px;
  color: $color-brand-2;
  font-weight: 700;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    margin: 12px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;

    &__flight {
      columns: 3;
      gap: 8px;
      align-items: center;
      display: flex;

      &__piece {
        width: 100%;
        display: block;
        text-align: center;

        &__title {
          text-transform: uppercase;
        }

        &__colored {
          color: $color-brand-1;
        }
      }
    }

    &__stay {
      width: 100%;
      columns: 1;
      gap: 8px;
      align-items: center;

      &__piece {
        width: 100%;
        display: block;
        padding: 6px 0;

        &__icon {
          text-align: left;
          padding-right: 12px;
        }

        &__text {
          display: inline;
        }
      }
    }
  }
}
