.trip-pricing-box {
  @media (max-width: $breakpoint-md) {
    position: fixed;
    inset: 0 0 0 0;
    border-radius: 0;
    overflow-y: auto;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity ease 300ms, transform ease-in 400ms;
    .trip-pricing-box-content__close_button {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  @media (min-width: $breakpoint-md) {
    position: sticky;
    top: 16px;
    .trip-pricing-box-content__close_button {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .trip-pricing-box-spacer {
    height: 96px;
  }
  body[data-pricing-box="opened"] {
    .trip-pricing-box {
      transform: translateY(0);
      opacity: 1;
    }
    .trip-pricing-box-toggle {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}

.trip-pricing-box-toggle {
  cursor: pointer;
  height: 96px;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  margin: 0;
  text-align: left;
  gap: 24px;
  > *:first-child {
    flex: 1;
  }
  transition: opacity ease 300ms, transform ease-in 300ms;

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
