.trip-pricing-box {
  &__card {
    @media (max-width: $breakpoint-md) {
      position: fixed;
      inset: 0 0 0 0;
      border-radius: 0;
      overflow-y: auto;
      transform: translateY(100%);
      opacity: 0;
      transition: opacity ease 300ms, transform ease-in 400ms;
      .trip-pricing-box-content__close_button {
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    position: sticky;
    top: 16px;
    &--offset {
      top: 256px;
      transform: translateY(-240px);
    }
    .trip-pricing-box-content__close_button {
      display: none;
    }
  }

  @media(min-height:670px) and (max-height: 750px) {
    #whatsapp-purchase-button {
      display: none;
    }
  }
}

body[data-pricing-box="opened"] {
  overflow-y: hidden;
}

$pricing-header-height: 150px;

@media (max-width: $breakpoint-md) {
  .trip-pricing-box-spacer {
    height: $pricing-header-height;
  }
  body[data-pricing-box="opened"] {
    .trip-pricing-box__card {
      transform: translateY(0);
      opacity: 1;
    }
    .trip-pricing-box-toggle {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}

.trip-pricing-box-toggle {
  cursor: pointer;
  height: $pricing-header-height;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-background-primary;
  border: none;
  outline: none;
  margin: 0;
  text-align: left;
  gap: 24px;
  color: $color-text-primary;
  transition: opacity ease 300ms, transform ease-in 300ms;

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
