.change__flight_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.text__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flight__cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 30px;
}

.save__button {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  opacity: 100%;
}
