.trip-hotel-card {
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    &__info {
      display: flex;
      width: 100%;

      &__image {
        min-width: 80px;
        img {
          width: 90px;
          height: 90px;
          object-position: center;
          object-fit: cover;
          border-radius: 5px;

          @media (min-width: $breakpoint-md) {
            width: 100px;
            height: 100px;
          }
        }
      }

      &__data {
        display: flex;
        flex-direction: column;
        align-items: space-between;
      }

      &__services {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    }

    &__button-area {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-content: center;

      &__see-more {
        color: $color-gray-1;
        text-decoration: underline;
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      &__unavailable{
        color: #D35050;
      }
    }
  }
}
