.steps-progress-bar {
  $height: 12px;

  height: $height;
  width: 100%;
  background-color: $color-gray-3;
  border-radius: $height;
  &__status {
    height: $height;
    background-color: $color-brand-4;
    border-radius: $height;
    transition: width ease 1s;
    min-width: 24px;
  };
}
