.matched-destinations-card {
  cursor: pointer;
}

.matched-see-more-card {
  background-color: $color-brand-7;
  border: 1px dashed $color-brand-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color ease 150ms;
  cursor: pointer;
  &:hover {
    background-color: $color-brand-5;
  }
}
