.matched-destinations-page {
  background-color: var(--color-brand-1);
  color: var(--color-gray-1);
  text-align: center;
  padding-left: 0;
  padding-right: 0;

  &__box {
    background-color: white;
    border-radius: 32;
    padding: 64px 16px;

    @media (max-width: 980px) {
      border-radius: 96px 0 0;
    }
  }

  &__text {
    color: var(--color-brand-2);
    font-weight: bold;
  }

  @media (max-width: 980px) {
    padding-bottom: 0;
  }
}

.matched-destination-card {
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
}
