.matched-destinations-page {
  background-color: var(--color-brand-1);
  color: var(--color-gray-1);
  text-align: center;
  padding-left: 0;
  padding-right: 0;

  &__box {
    background-color: white;
    border-radius: 32;
    padding: 64px 16px;

    @media (max-width: 980px) {
      border-radius: 96px 0 0;
    }
  }

  &__text {
    color: var(--color-brand-2);
    font-weight: bold;
  }

  @media (max-width: 980px) {
    padding-bottom: 0;
  }
}

.matched-destination-card {
  border-radius: 10px;
  padding: 15px;
  color: $color-gray-4;
  width: 100%;
  max-width: 780px;
  height: 370px;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    p {
      margin-top: 5px;
      color: #94fff8;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    &__price {
      font-size: 20px;
      margin-bottom: 8px;
    }

    button {
      color: $color-gray-4;
    }
  }
}

.other-choices-carousel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  p {
    color: $color-brand-1;
    text-align: center;
  }

  &__row {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-bottom: 24px;

    &__container {
      display: flex;
      gap: 20px;
    }
  }

  .other-choice-destination-card {
    color: $color-gray-4;
    border-radius: 10px;
    width: 225px;
    height: 240px;
    padding: 12px;
    justify-content: space-between;
  
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__link {
      text-decoration: none;
    }
  
    &__city-name {
      color: $color-gray-4 !important;
      text-align: start !important;
    }

    &__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
  
      p {
        margin-top: 5px;
        color: #94fff8;
      }
    }
  
    &__footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;
  
      &__price {
        font-size: 20px;
        margin-bottom: 8px;
      }
    }
  }
}

