.trip-script-builder-step {
  padding: 12px 0;
  text-align: center;

  &__image {
    margin: auto;
  }

  &__item {
    padding: 12px 0;
  }
}

.trip-script-builder-slider {
  &__text {
    &__right {
      float: right;
    }

    &__left {
      float: left
    }
  }
}