.destinations-block {
  margin: 0 -16px;
  > * {
    width: 100%;
  }
}

.destination-item {
  display: flex;
  padding: 8px;
  width: calc(100% / 3);
  min-width: 220px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &__card {
    aspect-ratio: 1;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.75) 75%
      ),
      var(--cover-image, url("/assets/1px.png"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $color-brand-1;
    color: white;
    &--skeleton {
      width: 100%;
      border-radius: $border-radius-lg;
    }
  }
}
