.trip-pending {
  background-color: #f7fcfc;
  height: 100vh;

  &__section {
    padding-top: 20px;

    &__body {
      background-color: #f7fcfc;
      font-weight: 700;
      margin-top: -18px;

      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 28px;

      &__sub-title {
        color: $color-gray-1;
        font-weight: 400;
      }

      &__pending-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
      }
    }

    @media (max-width: $breakpoint-sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

