.notification-column {
  &__title{
    font-size: 18px;
  }

  &__read-all{
    color: $color-gray-2;
    cursor: pointer;
  }
}

.dropdown-notification-filters {
  &__options {
    position: absolute;
    z-index: 10;
    right: 20px;
  }
}
