.option-field {
  position: relative;
  color: $color-text-disabled;
  cursor: pointer;
  height: 100%;
  transition: color ease 300ms;
  &:hover,
  &--is-checked {
    color: $color-text-primary;
  }
  &__label {
    cursor: pointer;
    display: flex;
    gap: 16px;
  }
  input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }
  input:focus-visible + label {
    outline: 2px dotted $color-action-active;
  }

  &__state {
    display: inline-block;
    min-width: 18px;
    height: 18px;
    margin: 4px;
    border: 1px solid $color-text-secondary;
    transition: all ease 300ms;
    position: relative;
    &[data-checked="true"] {
      border-color: $color-brand-1;
    }
  }

  &.option-field--is-multiselect {
    .option-field__state {
      border-radius: 4px;
      &:after,
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background-color: transparent;
        border-radius: 1px;
        transition: background-color ease 300ms;
      }
      &:after {
        transform: rotate(-45deg);
        min-width: 9px;
        bottom: 8px;
        left: 5px;
      }
      &:before {
        transform: rotate(45deg);
        min-width: 5px;
        bottom: 6px;
        left: 3px;
      }
      &[data-checked="true"] {
        background-color: $color-brand-1;
        &:after,
        &:before {
          background-color: white;
        }
      }
    }
  }

  &:not(.option-field--is-multiselect) {
    .option-field__state {
      border-radius: 50%;
      &:after {
        content: "";
        position: absolute;
        display: block;
        min-width: 10px;
        height: 10px;
        top: 3px;
        left: 3px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color ease 300ms;
      }
      &[data-checked="true"]:after {
        background-color: $color-brand-1;
      }
    }
  }
}
