.all-trips-panel {
  background-color: $color-brand-5;
  padding-bottom: 60px;
  color: $color-brand-2;
  font-weight: 700;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    background-color: $color-brand-5;
    border-radius: 20px 20px 0 0;
    margin-top: -17px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;

    @media (min-width: $breakpoint-lg) {
      margin-top: -68px;
      max-width: 50%;
    }
  }
}
