.destination-hero-section {
  height: 50vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: $spacing-xl;
  background-color: $color-brand-2;

  &--no-photo {
    height: inherit;
  }

  &__photos {
    position: absolute;
    inset: 0 0 0 0;

    &::after {
      position: absolute;
      content: "";
      inset: 0 0 0 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.86) 100%);
    }
    picture {
      height: 100%;
      width: 100%;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;

    }
  }

  &__content {
    color: white;
    position: relative;
    padding: $spacing-xl 0;
  }
}

.destination-tips-section {
  background-color: $color-brand-5;
}

.destination-video-section {
  background-color: $color-brand-1;
  text-align: center;
  color: $color-gray-4;
}

.destination-video {
  max-width: 582px;
  width: 100%;
  margin: auto;
  &__tag {
    transform: translateY(50%);
    z-index: 1;
    position: relative;
  }
}

.destination-feature {
  display: flex;
  padding: 16px 0;
  &__icon {
    min-width: 48px;
  }
  &__title {
    color: $color-brand-4;
    margin-bottom: 12px;
  }
  &__description {
    color: $color-text-secondary;
  }
}

.destination-faq-section {
  overflow: hidden;
}
