.destination-hero-section {
  height: 40vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: $spacing-xl;
  background-position: center;
  background-color: $color-brand-2;

  &--no-photo {
    height: inherit;
  }

  &__carousel {
    position: absolute;
    inset: 0 0 0 0;
    height: inherit;

    .carousel__container {
      height: inherit;
    }

    &__photos {
      &::after {
        position: absolute;
        content: "";
        inset: 0 0 0 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.86) 100%);
      }

      picture {
        height: 100%;
        width: 100%;
      }
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__photos {
    position: absolute;
    inset: 0 0 0 0;

    &::after {
      position: absolute;
      content: "";
      inset: 0 0 0 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.86) 100%);
    }
    picture {
      height: 100%;
      width: 100%;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    color: white;
    position: relative;
    padding: $spacing-xl 0;
  }

  .carousel__dots button {
    z-index: 10;
  }
}
