.destination-tips-section {
  background-color: $color-brand-5;

  &__container {
    display: flex;
    flex-direction: column;
    $gap: 28px;
    gap: $gap;

    .tip {
      display: flex;
      gap: 16px;
      color: $color-brand-2;

      &__content-box {
        flex: 1;
      }
    }
    @media (min-width: $breakpoint-md) {
      flex-direction: row;

      .tip {
        width: 315px;
      }
    }
  }
}

.destination-video-section {
  background-color: $color-brand-1;
  text-align: center;
  color: $color-gray-4;
}

.destination-video {
  max-width: 582px;
  width: 100%;
  margin: auto;
  &__tag {
    transform: translateY(50%);
    z-index: 1;
    position: relative;
  }
}

.destination-info-feature {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  h2 {
    font-weight: 700;
  }
}

.destination-feature {
  display: flex;

  &__icon {
    min-width: 40px;
  }

  &__title {
    color: $color-brand-4;
  }

  &__description {
    margin-top: 7px !important;
    color: $color-text-secondary;
  }
}

.destination-faq-section {
  overflow: hidden;
}
