.destination-hero-section {
  height: 38vh !important;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: $spacing-xl;
  background-position: center;

  &--no-photo {
    height: inherit;
  }

  &__photos {
    position: absolute;
    inset: 0 0 0 0;

    &::after {
      position: absolute;
      content: "";
      inset: 0 0 0 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.86) 100%);
    }
    picture {
      height: 100%;
      width: 100%;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    color: white;
    position: relative;
    margin-bottom: 10px;
  }
}

.destination-tips-section {
  background-color: $color-brand-5;
  &__container {
    display: flex;
    flex-wrap: wrap;
    $gap: 40px;
    gap: $gap;
    .tip {
      $columns: 2;
      width: calc((100% - ($gap * ($columns - 1))) / $columns);
      &--lg {
        width: 100%;
      }
      > * {
        max-width: 520px;
      }

      @media (min-width: $breakpoint-md) {
        $columns: 4;
        width: calc((100% - ($gap * ($columns - 1))) / $columns);
        &--lg {
          $columns: 2;
          width: calc((100% - ($gap * ($columns - 1))) / $columns);
        }
      }
    }
  }
}

.destination-video-section {
  background-color: $color-brand-1;
  text-align: center;
  color: $color-gray-4;
}

.destination-video {
  max-width: 582px;
  width: 100%;
  margin: auto;
  &__tag {
    transform: translateY(50%);
    z-index: 1;
    position: relative;
  }
}

.destination-feature {
  display: flex;
  padding: 16px 0;
  &__icon {
    min-width: 48px;
  }
  &__title {
    color: $color-brand-4;
    margin-bottom: 12px;
  }
  &__description {
    color: $color-text-secondary;
  }
}

.destination-faq-section {
  overflow: hidden;
}
