.destination-tips-section {
  background-color: $color-brand-5;

  &__container {
    display: flex;
    flex-direction: column;
    $gap: 28px;
    gap: $gap;
    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      .destination-tip-item {
        width: 315px;
      }
    }
  }
}

.destination-tip-item {
  display: flex;
  gap: 16px;
  color: $color-brand-2;

  &__content-box {
    flex: 1;
  }
}

.destination-video-section {
  background-color: $color-brand-1;
  text-align: center;
  color: $color-gray-4;

  .destination-video-slider {
    display: flex;
    padding: 0 55px;

    .destination-video-item {
      flex: 0 0 60%;
      text-align: center;
      margin: 0 2px;
      transition: transform 300ms ease 100ms;

      @media (min-width: $breakpoint-md) {
        flex: 0 0 100%;
      }
    }

    .destination-video-item:hover ~ .destination-video-item {
      transform: translateX(18%);
    }
    .destination-video-item:hover {
      transform: scale(1.3) !important;
    }
  }

  .destination-video-slider:hover .destination-video-item {
    transform: translateX(-18%);
  }
}

.destination-video {
  max-width: 582px;
  width: 100%;
  margin: auto;
  &__tag {
    transform: translateY(50%);
    z-index: 1;
    position: relative;
  }
}

.destination-faq-section {
  overflow: hidden;
}
