.destination-hero-section {
  background-color: $color-background-neutral;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: $spacing-xl;

  &__photos {
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.86) 100%),
      url("https://images.prismic.io/tripevolved/18867367-1e73-4492-b27c-82d9a57ebdcd_Fernando+de+Noronha.jpeg?auto=compress,format&w=1400&h=800")
        no-repeat center;
    background-size: cover;
  }

  &__content {
    color: white;
    position: relative;
    padding: $spacing-xl 0;
  }
}

.destination-tips-section {
  background-color: $color-brand-5;
}

.destination-video-section {
  background-color: $color-brand-1;
  text-align: center;
  color: $color-gray-4;
}

.destination-video {
  max-width: 582px;
  width: 100%;
  margin: auto;
  &__tag {
    transform: translateY(50%);
    z-index: 1;
    position: relative;
  }
}

.destination-feature {
  display: flex;
  padding: 16px 0;
  &__icon {
    min-width: 48px;
  }
  &__title {
    color: $color-brand-4;
    margin-bottom: 12px;
  }
  &__description {
    color: $color-text-secondary;
  }
}

.destination-faq-section {
  overflow: hidden;
}
