.destination-hero-section {
  height: 38vh !important;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: $spacing-xl;
  background-position: center;

  &--no-photo {
    height: inherit;
  }

  &__photos {
    position: absolute;
    inset: 0 0 0 0;

    &::after {
      position: absolute;
      content: "";
      inset: 0 0 0 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.86) 100%);
    }
    picture {
      height: 100%;
      width: 100%;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    color: white;
    position: relative;
    margin-bottom: 10px;
  }
}

.destination-tips-section {
  background-color: $color-brand-5;

  &__title {
    margin-bottom: 35px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    $gap: 28px;
    gap: $gap;

    .tip {
      display: flex;
      gap: 16px;
      color: $color-brand-2;

      &__content-box {
        flex: 1;
      }
    }
    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }
}

.destination-video-section {
  background-color: $color-brand-1;
  text-align: center;
  color: $color-gray-4;
}

.destination-video {
  max-width: 582px;
  width: 100%;
  margin: auto;
  &__tag {
    transform: translateY(50%);
    z-index: 1;
    position: relative;
  }
}

.destination-feature__list {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  h2 {
    font-weight: 700;
  }

  &__item {
    display: flex;

    &__icon {
      min-width: 40px;
    }

    &__title {
      color: $color-brand-4;
    }

    &__description {
      margin-top: 7px !important;
      color: $color-text-secondary;
    }
  }
}

.destination-faq-section {
  overflow: hidden;
}
