.navbar {
  $navbar-height: 88px;
  $navbar-breakpoint-desktop: 1300px;
  $navbar-breakpoint-mobile: $navbar-breakpoint-desktop - 1;
  border-bottom: 1px solid $color-divider;
  &__main {
    display: flex;
    min-height: $navbar-height;
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacing-md;
  }

  &__menu {
    padding: 0 $spacing-md;
    margin: 0;
    display: flex;

    @media (max-width: $navbar-breakpoint-mobile) {
      padding: 0 $spacing-xl $spacing-xl;
      flex-direction: column;
      align-items: center;
      > * {
        width: 100%;
        max-width: 320px;
        text-align: center;
        display: inline;
      }
      &[data-open="false"] {
        display: none;
      }
      &__signin-button {
        margin-top: 8px;
      }
    }
  }

  @media (min-width: $navbar-breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__hamburger {
      display: none;
    }
    &__menu {
      &__signin-button {
        margin-left: 8px;
      }
    }
  }
}
