.general-header {
  background-color: $color-brand-1;
  color: $color-gray-4;
  font-weight: 700;
  min-height: 90px;

  &__box {
    width: 100%;
    display: flex;
    align-items: center;

    &__back-button {
      padding-left: 0;
      padding-right: 20px;
      color: $color-gray-4;
    }

    &__title {
      font-size: 16px;
    }
  }
}
