.hover-tooltip {
  position: relative;
  display: inline-block;

  &__text {
    visibility: hidden;
    min-width: 250px;
    max-width: 350px;
    background-color: $color-brand-1;
    color: $color-white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -20px;
    margin-top: 5px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.hover-tooltip:hover .hover-tooltip__text {
  visibility: visible;
  opacity: 1;
}