.trip-script-day-tip {
  text-align: center;
  padding: 12px 0;

  &__header {
    &-image {
      margin: auto;
    }

    &-title {
      font-weight: bold;
      color: $color-brand-4;
      text-transform: uppercase;
    }
  }
}