.global-loader {
  padding: $spacing-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  &--block {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    backdrop-filter: blur(2px);
  }
}
