.animate__float {
  animation: float linear 5s infinite;
}

.animate__slide {
  opacity: 0;
}

.animate__slide-right {
  transform: translateX(50%);
  animation: slide-right ease-in-out 1s forwards;
}

.animate__slide-left {
  transform: translateX(-50%);
  animation: slide-left ease-in-out 1s forwards;
}

.animate__slide-down {
  transform: translateY(50%);
  animation: slide-down ease-in-out 1s forwards;
}

.animate__delay-1x {
  animation-delay: 2500ms;
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
