.floating {
  animation: floating 3s ease alternate infinite;
  @keyframes floating {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
}

.opacity-animation {
  animation: opacity-animation 500ms ease alternate infinite;

  @keyframes opacity-animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;

    }
  }
}

