:root {
  --color-brand-1: #0ab9ad;
  --color-brand-2: #1a365d;
  --color-brand-3: #8253f6;
  --color-brand-4: #f5ac0a;
  --color-brand-5: #eefbfa;
  --color-brand-6: #b6eae6;
  --color-gray-1: #5a626d;
  --color-gray-2: #8c8e92;
  --color-gray-3: #d7dade;
  --color-gray-4: #ffffff;
}
