.trip-configuration {
  border: 1px dashed $color-brand-1;
  background-color: $color-brand-7;
  display: flex;
  justify-content: space-between;

  &__box {
    display: flex;
    gap: 2px;

    h2 {
      color: $color-gray-1;
    }
  }

  &__box-text {
    color: $color-gray-2;
  }
}

.what-includes-section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 700;
    margin-bottom: 22px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;

      .trip-content-item {
        width: 215px;
      }
    }

    .trip-content-item {
      display: flex;
      gap: 22px;
      display: flex;

      &__desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__title {
          color: $color-brand-1;
          font-weight: 700;
        }
      }
    }
  }
}

.trip-transportation-section {
  &__transport {
  }
}
