.trip-stay-highlight-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;

    width: 100%;

    &__title {
      font-size: 14px;
      font-weight: 700;
    }

    &__content {
      display: flex;
      gap: 8px;

      &__icon {
        max-width: 30px;
      }

      &__desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
          padding-left: 8px;
          color: $color-brand-2;
        }

        p {
          color: $color-gray-1;
        }
      }
    }
  }

  .trip-stay-header {
    position: absolute;
    right: 170px;
    top: 22px;
  }

  .trip-stay-content {
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 100vh;
    left: 0px;
    right: 0px;
    top: 260px;
  }

  .trip-stay-center-margin {
    margin: 0 auto;
    width: 88%;
    padding-top: 16px;
  }
