.trip-stay-highlight-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
  
    width: 100%;
  
    &__title {
      font-size: 14px;
      font-weight: 700;
    }
  
    &__content {
      display: flex;
      gap: 8px;
  
      &__icon {
        max-width: 30px;
      }
  
      &__desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
  
        h3 {
          padding-left: 8px;
          color: $color-brand-2;
        }
  
        p {
          color: $color-gray-1;
        }
      }
    }
  }