.trip-configuration {
  border: 1px dashed $color-brand-1;
  background-color: $color-brand-7;
  display: flex;
  justify-content: space-between;

  &__box {
    display: flex;
    gap: 2px;

    h2 {
      color: $color-gray-1;
    }
  }

  &__box-text {
    color: $color-gray-2;
  }
}

.what-includes-section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 700;
    margin-bottom: 22px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;

      .trip-content-item {
        width: 215px;
      }
    }

    .trip-content-item {
      display: flex;
      gap: 22px;
      display: flex;

      &__desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__title {
          color: $color-brand-1;
          font-weight: 700;
        }
      }
    }
  }
}

.trip-transportation-section {
  &__transport {
    display: flex;
    gap: 14px;
    align-items: center;

    &__departure-and-arrival {
      &__text {
        color: $color-gray-1;
      }
    }
  }
}

.trip-stay-section {
  &__header {
    display: flex;
    justify-content: space-between;
    padding-right: 6px;

    &__edit {
      display: flex;
      align-items: center;
      color: $color-gray-1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__stay-desc {
      display: flex;
      gap: 20px;

      img {
        border-radius: 3px;
      }

      &__box {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          color: $color-gray-1;
        }

        &__stars {
          display: flex;
          gap: 5px;
        }
      }
    }

    &__details-text {
      text-decoration: underline;
    }
  }
}

.trip-stay-highlight-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px dashed $color-brand-1;
  background-color: $color-brand-7;
  padding: 20px;

  &__title {
    font-size: 14px;
    font-weight: 700;
  }

  &__content {
    display: flex;
    gap: 8px;

    &__desc {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        color: $color-brand-1;
        font-weight: 700;
        font-size: 14px;
      }

      p {
        color: $color-gray-1;
      }
    }
  }
}

.trip-script-section {
  &__text {
    color: $color-gray-1;
  }

  &__see-script {
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
  }
}
