.home-section-hero {
  overflow-x: hidden;
  &__image {
    &--mobile {
      margin: auto;
    }
    &--desktop {
      display: none;
    }
    &--right {
      margin-left: auto;
    }
  }
  @media (min-width: $breakpoint-md) {
    position: relative;
    &__content {
      margin-top: 48px;
    }
    &__image {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: inherit;
      }
      &--emoji {
        position: absolute;
        top: -16px;
        left: 50%;
      }
    }
  }
}
