.trip-profile-start {
  background-color: var(--color-brand-1);
  color: var(--color-gray-1);
  text-align: center;
  padding-left: 0;
  padding-right: 0;

  &__box {
    background-color: white;
    border-radius: 32;
    padding: 64px 16px;

    @media (max-width: 980px) {
      border-radius: 96px 0 0;
    }
  }

  &__text {
    color: var(--color-brand-2);
    font-weight: bold;
  }

  @media (max-width: 980px) {
    padding-bottom: 0;
  }
}

.trip-discover {
  background-color: $color-brand-1;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  
  &__brand {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
  }
  
  &__box {
    background-color: white;
    color: $color-brand-1;
    border-radius: 32px;
    padding: 32px 0;
  }
}