.page-app-hero {
  height: 30vh;
  min-height: 220px;
  max-height: 320px;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-color: $color-text-secondary;

  &--no-photo {
    height: inherit;
  }

  &__carousel {
    position: absolute;
    inset: 0 0 0 0;
    .carousel__container {
      height: 100%;
    }
  }

  &__photo {
    position: relative;
    inset: 0 0 0 0;

    &::after {
      position: absolute;
      content: "";
      inset: 0 0 0 0;
      opacity: 0.5;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.9) 85%
      );
    }
    picture {
      height: 100%;
      width: 100%;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    color: white;
    position: relative;
    padding: $spacing-md $spacing-xl;
  }
}
