.page-app-hero {
  height: 30vh;
  min-height: 220px;
  max-height: 320px;
  position: relative;
  background-color: $color-text-secondary;

  &__container {
    position: absolute;
    inset: 0 0 0 0;
  }

  .carousel {
    &__container {
      height: 100%;
      width: 100%;
    }
  }

  &__photo {
    height: 100%;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      opacity: 0.5;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.9) 85%
      );
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;

      position: absolute;
      inset: 0 0 0 0;
    }
  }

  &__content {
    color: white;
    padding: $spacing-md $spacing-xl;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
