.page-app-hero {
  height: 30vh;
  position: relative;

  &__container {
    position: absolute;
    inset: 0 0 0 0;
  }

  .carousel {
    &__container {
      height: 100%;
      width: 100%;
    }
  }

  &__photo {
    height: 100%;
    width: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;

      position: absolute;
      inset: 0 0 0 0;
    }
  }

  &__content {
    background-image: linear-gradient(to top, rgba(45, 55, 56, 0.25) $spacing-md, transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    &__container {
      color: white;
      padding: $spacing-md $spacing-xl;
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
