.auto-scroll-nav {
  overflow-x: auto;
  margin-left: calc($spacing-xl * -1);
  margin-right: calc($spacing-xl * -1);
  text-align: center;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
  position: relative;
  &__container {
    text-align: initial;
    display: inline-flex;
    margin: 0 auto;
  }
  &__right-button {
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 24px;
    display: inline-block;
  }
  @media (min-width: $breakpoint-sm) {
    margin-left: calc($spacing-lg * -1);
    margin-right: calc($spacing-lg * -1);
  }
  @media (min-width: $breakpoint-lg) {
    overflow-x: hidden;
    &--draggable {
      cursor: pointer;
      user-select: none;
    }
    &--is-active {
      cursor: grabbing;
    }
  }
}
