.has-trip {
  background-color: $color-brand-7;
  padding-top: 30px;
  color: $color-brand-2;
  font-weight: 700;
  border-radius: 20px 20px 0 0;
  margin-top: -17px;

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;

  &__header-title {
    text-align: center;
    padding: 0 20px;
    font-weight: 700;
  }

  &__trip-area {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  &__recommendations-area {
    padding-left: 20px;

    div > p {
      color: $color-brand-2;
      text-align: left;
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $color-brand-6;
    padding: 40px 0 70px 0;
  }

  @media (min-width: $breakpoint-lg) {
    margin-top: -68px;
    width: 50%;
    gap: 30px;
  }
}
