.trip-hotel-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__button-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
