.trip-details-panel {
  background-color: $color-brand-5;
  color: $color-brand-2;
  font-weight: 700;
  border-radius: 20px 20px 0 0;
  margin-top: -17px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
