.tag__label {
  width: 174px;
  height: 23px;
  font-family: "Baloo 2";
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.7em;
  color: black;
  background-color: $color-brand-4;
  padding: 1px $spacing-sm;
  border-radius: $border-radius-xs;
  display: inline-block;
  position: relative;
  z-index: 10;
}

.card-youtube {
  overflow: hidden;
  padding: 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  &__thumbnail {
    border-radius: $spacing-lg;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%) blur(3px);
  }

  &--tag {
    margin-top: -10px;
  }

  &__play-button {
    border-radius: 50%;
    transform: scale(1.25);
    color: $color-white;
  }
  &__close-button {
    position: absolute;
    bottom: $spacing-sm;
    right: $spacing-sm;
  }

  &__content iframe {
    width: 100%;
    height: 100%;
    display: block;
  }

  &--is-playing {
    .card-youtube__thumbnail {
      display: none;
    }
    .card-youtube__close-button {
      transform: translateY(-30px) translateX(10px);
    }
  }
  &:not(.card-youtube--is-playing) {
    background-image: var(--thumbnail);
    .card-youtube__content {
      display: none;
    }
  }

  aspect-ratio: 16/9;
  &__content iframe {
    aspect-ratio: 16/9;
    height: 100%;
  }

  @media (min-width: $breakpoint-md) {
    &__play-button {
      transform: scale(1.75);
    }
    &__close-button {
      bottom: $spacing-xl;
      right: $spacing-xl;
    }
  }
}
