.blog-card-carousel {
  padding: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;

  &__row {
    display: flex;
    gap: 20px;
    overflow-x: scroll;

    &__container {
      height: 320px;
      display: flex;
      gap: 20px;
    }
  }

  @media (min-width: $breakpoint-md) {
    width: 50%;
  }
}
