.blog-card-carousel {
  padding: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__row {
    display: flex;
    gap: 20px;
    overflow-x: scroll;

    &__container {
      display: flex;
      gap: 20px;
    }
  }
}
