.blog-card-carousel {
  margin-top: 40px;
  color: $color-brand-1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__row {
    border: 1px solid black;
    display: flex;
    overflow-x: scroll;
  }
}
