.blog-card-carousel {
  padding: 0 0 20px 20px;
  color: $color-brand-1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__row {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
  }
}
