.add-attractions-modal {
  padding: 24px;

  &__header {
    &__title {
      color: $color-brand-1;
      font-weight: 700;
    }

    &__subtitle {
      color: $color-gray-1;
    }
  }

  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
  }
}
