.trip-script {
  background-color: #f7fcfc;
  height: 100vh;
  padding: 0;

  @media (min-width: $breakpoint-md) {
    padding: 0 24px 24px;
  }
}

.trip-script-day-section {
  background-color: #f7fcfc;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  margin-top: -18px;

  &__border {
    border-radius: 10px;
    width: fit-content;

    @media (min-width: $breakpoint-md) {
      padding: 20px;
      border: 2px solid $color-gray-3;
    }

    @media (min-width: $breakpoint-lg) {
      max-width: 850px;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    font-weight: 500;
  }

  &__title,
  &__subtitle {
    margin: 0 !important;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}

.trip-script-action {
  display: flex;
  gap: 10px;
  display: flex;

  &__title {
    color: $color-brand-2;
    font-weight: 700;
  }

  &__subtitle {
    color: $color-brand-2;
    font-weight: 500;
  }

  @media (min-width: $breakpoint-lg) {
    width: 375px;
  }
}
