.trip-script-header {
  display: flex;
  gap: 12px;
}

.trip-script {
  padding: 0;

  @media (min-width: $breakpoint-md) {
    padding: 0 24px 24px 0;
  }
}

.trip-script-day-section {
  width: 100%;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: thin solid $color-brand-1;
  padding: 18px;

  &__edit-button {
    color: $color-gray-2;
    font-size: 14px;

    svg {
      color: $color-brand-1;
    }
  }

  &__border {
    border-radius: 10px;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      padding: 20px;
      
      max-width: 850px;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    font-weight: 500;
  }

  &__title,
  &__subtitle {
    margin: 0 !important;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}

.trip-script-action {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.07);
  -webkit-box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.07);

  &__title {
    color: $color-brand-2;
    font-weight: 400;
    display: flex;

    &__tooltip {
      float: right; 
      z-index: 20;
    }
  }
  
  &__tooltip {
    padding: 0 16px;
    align-self: flex-end;
  }
  
  &__subtitle {
    margin-top: 0 !important;
    opacity: 0.75;
    color: $color-gray-1;
    font-weight: 500;
  }

  &__icon img {
    height: 100%;
    width: 100%;
    max-height: 48px;
    max-width: 48px;
    margin: auto;
  }

  &__icon-box {
    border-radius: 100%;
    background-color: $color-brand-1;
    color: $color-gray-4;
    padding: 3px;
    display: flex;
    align-content: center;

    span {
      font-size: 15px;
    }
  }

  &__icon > img {
    min-width: 23px;
  }
}
