.trip-script {
  height: 100vh;
  padding: 0;

  @media (min-width: $breakpoint-md) {
    padding: 0 24px 24px 0;
  }
}

.trip-script-day-section {
  background-color: #f7fcfc;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  margin-top: -18px;
  gap: 34px;

  @media (min-width: $breakpoint-md) {
    margin-top: -48px;
  }

  &__border {
    border-radius: 10px;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      padding: 20px;
      border: 2px solid $color-gray-3;
      max-width: 850px;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    font-weight: 500;
  }

  &__title,
  &__subtitle {
    margin: 0 !important;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}

.trip-script-action {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;

  &__title {
    color: $color-brand-2;
    font-weight: 400;
    display: flex;
  }

  &__subtitle {
    color: $color-gray-1;
    font-weight: 500;
  }

  &__icon-box {
    border-radius: 100%;
    background-color: $color-brand-1;
    color: $color-gray-4;
    padding: 3px;
    display: flex;
    align-content: center;

    span {
      font-size: 15px;
    }
  }

  &__icon > img {
    min-width: 23px;
  }

  @media (min-width: $breakpoint-lg) {
    width: 375px;
  }
}
