.new-itinerary {
  font-family: "Baloo 2", sans-serif;

  h1 {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    font-family: "Comfortaa", sans-serif;
    color: rgba(26, 54, 93, 1);
  }

  p {
    font-weight: 400;
    color: rgba(90, 98, 109, 1);
    font-size: 16px;
    line-height: 1.4;
  }
  .btn--neutral {
    color: rgba(26, 54, 93, 1);
    span {
      font-weight: 600;
    }
    &:hover {
      background-color: transparent;
    }
  }
}
