.new-itinerary {
  font-family: "Baloo 2", sans-serif;

  h1 {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    font-family: "Comfortaa", sans-serif;
    color: rgba(26, 54, 93, 1);
  }

  p {
    font-weight: 400;
    color: rgba(90, 98, 109, 1);
    font-size: 16px;
    line-height: 1.4;
  }
  .btn--neutral {
    color: rgba(26, 54, 93, 1);
    span {
      font-weight: 600;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

.itinerary {
  padding-top: 20px;
  .itinerary-item__content {
    border-left: 1px dotted $color-gray-3;
    border-width: 2px;
    margin: 0px 10px;

    &__image{
      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    @media(min-width: $breakpoint-sm) {
      &__break {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .stay-detail-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;

    &__item {
      display: flex;
      width: 100%;
      gap: 10px;
    }
  }
}
