.footer {
  background-color: var(--color-brand-2);
  padding: 24px;
  color: white;
  .link {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__first {
    min-width: 300px;
    padding-right: 32px;
    max-width: min-content;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    &__subtitle {
      margin: $spacing-sm 0;
      color: var(--color-brand-4);
    }
  }
}
