.card-trip {
  height: 270px;
  width: 100%;
  position: relative;
  background-color: $color-text-secondary;
  border-radius: $border-radius-md;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  transition: filter ease 300ms;

  picture {
    position: absolute;
    inset: 0 0 0 0;
    height: 100%;
    width: 100%;
    &::after {
      transition: opacity ease 300ms;
      opacity: 0.7;
      position: absolute;
      content: "";
      inset: 0 0 0 0;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.9) 85%
      );
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &:hover {
    picture::after {
      opacity: 1;
    }
  }

  &__header {
    padding: $spacing-lg;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__tag {
      background-color: $color-brand-4;
    }
  }

  &__content {
    padding: $spacing-xl;
    color: white;
    position: relative;
    width: 100%;
  }
}
