.card-trip {
  height: 270px;
  width: 100%;
  position: relative;
  background-color: $color-text-secondary;
  border-radius: $border-radius-md;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  transition: filter ease 300ms;

  picture {
    position: absolute;
    inset: 0 0 0 0;
    height: 100%;
    width: 100%;

    img {
      transition: filter ease 300ms;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-sm) {
    &--is-link:hover {
      > picture img {
        filter: brightness(0.75);
      }
    }
  }

  &__header {
    padding: $spacing-lg;
    padding-top: $spacing-sm;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(45, 55, 56, 0.25), transparent);


    &__tag {
      background-color: $color-brand-4;
    }
  }

  &__content {
    padding: $spacing-xl;
    padding-top: 64px;
    padding-bottom: $spacing-lg;
    color: white;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    background-image: linear-gradient(to top, rgba(45, 55, 56, 0.75) $spacing-xl, transparent);
  }
}
