.card-trip {
  height: 270px;
  width: 100%;
  position: relative;
  background-color: $color-brand-1;
  border-radius: $border-radius-md;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  transition: filter ease 300ms;

  &:hover {
    filter: brightness(0.8);
  }

  picture {
    position: absolute;
    inset: 0 0 0 0;
    height: 100%;
    width: 100%;
    &::after {
      position: absolute;
      content: "";
      inset: 0 0 0 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.75) 75%
      );
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    padding: $spacing-xl;
    color: white;
    position: relative;
    width: 100%;
  }
}
