.trip-stay-details {
  border-radius: 17px 17px 0 0;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;

  &__initial-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__header {
      color: $color-gray-1;
      padding: 0 24px;

      &__title {
        color: $color-brand-1;
      }
    }

    &__image {
      img {
        height: 100%;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__content {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    &__description {
      color: $color-gray-1;
    }

    &__service-list {
      display: flex;
      gap: 18px;
      width: 100%;
      flex-wrap: wrap;
    }

    &__check-in-address {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 15px;

      &__item {
        display: flex;
        width: 100%;
        gap: 10px;
      }
    }
  }

  &__rooms {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px;
    gap: 18px;
  }

  &__footer-buttons {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    &__buttons {
      width: 100%;
    }

    @media (min-width: $breakpoint-md) {
      flex-direction: row;

      &__buttons {
        width: 45%;
      }
    }
  }
}

