.trip-stay-room-details-modal {
  padding: 26px 0;
  display: flex;
  flex-direction: column;
  gap: 22px;

  &__title {
    padding: 0 24px;
  }

  &__cover-image {
    width: 100%;
    background-color: $color-brand-1;

    img {
      width: 100%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 22px;

    &__features {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
  }

  &__amenities {
    display: flex;
    flex-direction: column;

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
