.has-profile {
  background-color: $color-brand-7;
  padding: 16px 20px 60px 20px;
  color: $color-brand-2;
  font-weight: 700;
  border-radius: 20px 20px 0 0;
  margin-top: -17px;

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 22px;

  &__text-title {
    color: $color-gray-1;
    text-align: center;
  }

  &__image-container {
    display: flex;
    justify-content: center;

    &__image-circle {
      border-radius: 100%;
      background-color: $color-brand-1;
      height: 171px;
      width: 171px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-top: 20px;
        margin-left: 5px;
        z-index: 2;
        object-fit: cover;
        height: 155px;
      }
    }
  }

  &__text-profile {
    font-weight: 700;
    text-align: center;
  }
}
