.has-profile {
  text-align: center;
  color: $color-brand-2;

  .media-object__image {
    display: flex;
    justify-content: center;

    picture {
      border-radius: 50%;
      background-color: $color-brand-1;
      height: 170px;
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-top: 20px;
        margin-left: 5px;
        object-fit: cover;
        height: 155px;
      }
    }
  }
}
