.notification-button {
  display: flex;

  &__button {
    color: $color-gray-4;
  }

  &__bullet {
    position: relative;
    color: #e76c6c;
    top: 8px;
    right: 25px;
    font-size: 23px;
  }

  /* &__sidebar {
    top: 0;
    right: -350px;
    width: 350px;
    position: fixed;
    z-index: 20;
    height: 100vh;
    background-color: $color-gray-4;
    transition: right 0.3s ease;

    &--active {
      right: 0;
      padding: 16px;
      border-radius: 15px;
      width: 350px;
      background-color: $color-gray-4;
      box-shadow: 0px 0px 69px 21px rgba(0,0,0,0.75);
      position: fixed;
      z-index: 20;
      height: 100%;
    }
  } */
}
