.notification-button {
  display: flex;

  &__button {
    color: $color-gray-4;
  }

  &__bullet {
    position: relative;
    color: #e76c6c;
    top: 8px;
    right: 25px;
    font-size: 23px;
  }

  &__sidebar {
    top: 0;
    left: -350px;
    width: 350px;
    position: fixed;
    z-index: 20;
    height: 100vh;
    transition: left 0.3s ease;

    &--active {
      left: 0;
      padding: 16px;
      border-radius: 15px;
      width: 350px;
      background-color: $color-gray-4;
      position: fixed;
      z-index: 20;
      height: 100%;
    }
  }
}
