.notification-button {
  display: flex;

  &__button {
    color: $color-gray-4;
  }

  &__bullet {
    position: relative;
    color: #e76c6c;
    top: 8px;
    right: 25px;
    font-size: 23px;
  }
}
