.card-highlight {
  background-color: #FFFDF6;
  border: 1px dashed $color-brand-4;
  &--default {
    background-color: $color-brand-7;
    border-color: $color-brand-1;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.no-border {
  border-color: transparent;
  .btn__content {
    color: $color-gray-2;
  }
}
