.introduction-card {
  $sp: 16px;
  background-color: var(--color-primary-500);
  padding: $sp;
  border-radius: $border-radius-lg;
  color: $color-white;
  &__image {
    img {
      transition: opacity ease 350ms;
    }
    &:hover {
      position: relative;
      cursor: pointer;
      img {
        opacity: 0.15;
      }
      &::after {
        color: white;
        position: absolute;
        content: "Saiba mais";
        font-size: 1.25rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__divider {
    display: block;
    border: none;
    border-top: 1px dashed var(--color-primary-300);
    height: 0;
    margin: calc($sp * 1.5) 0;
    position: relative;
    &::before,
    &::after {
      display: inline-block;
      content: "";
      height: 28px;
      width: 28px;
      background-color: white;
      border-radius: 100%;
      position: absolute;
      top: -14px;
    }
    &::before {
      left: calc(($sp + 14px) * -1);
    }
    &::after {
      right: calc(($sp + 14px) * -1);
    }
  }
  &__content {
    max-width: 70%;
    margin: 0 auto $sp auto;
  }
  &__modal {
    background-color: white;
    color: $color-text-secondary;
  }
}

.social {
  &-item {
    $size: 40px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border-radius: 100%;
    box-shadow: $shadow-elevation-600;
    cursor: pointer;
    transition: background-color ease 350ms;
    color: $color-text-primary;
    &:hover {
      background-color: var(--color-brand-4);
      color: $color-secondary-700;
    }
  }
}
