@tailwind base;
@tailwind components;
@tailwind utilities;

mux-player {
  --audio-track-menu-button: none;
  --rendition-menu-button: none;
  --playback-rate-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
}

mux-player media-volume-range {
  z-index: 1;
}
