.square-slider {
  &__heading {
    color: $color-brand-1;
    display: flex;
    justify-content: space-between;

    &__buttons {
      display: flex;
      gap: 0.4rem;
    }
    
    &__buttons button:hover {
      background-color: $color-brand-2;
    }

    &__buttons button {
      color: white;
      background-color: $color-brand-1;
      padding: 1rem;
      font-size: 1.5rem;
      border: none;
      height: 3rem;
      width: 3rem;
      cursor: pointer;
      transition: all 0.1s ease-in;
    }
  }

  &__row-container {
    display: flex;
    gap: 2.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: relative;
    padding: 1rem 0.6rem;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  &__row-container::-webkit-scrollbar {
    display: none;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}