.trip-stay-room-card {
  width: 100%;
  padding: 12px;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    &__info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 10px;

      &__image {
        min-width: 80px;
        img {
          width: 80px;
          height: 80px;
          object-position: center;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      &__data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      }

      &__price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-self: flex-end;
      }
    }

    &__button-area {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}