.trip-checkout {
  &__includes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-content {
      width: 100%;
      box-shadow: $shadow-elevation-300;
      border-radius: $border-radius-lg;
      padding: 20px;

      .trip-content-item {
        display: flex;
        gap: 22px;
        padding: 12px 0;

        &__desc {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 16px;

          &__title {
            color: $color-brand-1;
            font-weight: 700;
          }
        }
      }
    }
  }

  &__terms-and-conditions {
    padding: 20px;
    box-shadow: $shadow-elevation-300;
    border-radius: $border-radius-lg;

    &-item {
      margin: 12px;
    }
  }

  &__cta {
    padding: 20px;

    &-button {
      margin-top: 12px;
      width: 100%;
    }
  }
}

.trip-checkout-transportation {
  &__card {
    border-radius: $border-radius-sm;
    border-color: $color-brand-1;
    border-style: solid;
    background-color: inherit;

    display: flex;
    gap: 16px;

    &-logo {
      max-height: 80px;
      max-width: 120px;
    }
  }
}

.flight-checkout-view {
  &__logo {
    margin: auto;
    padding-right: 8px;
  }

  &__box {
    border: solid var(--color-primary-500) 1px;
    border-radius: 8px;
    padding: 12px;
  }

  &__button {
    width: 100%;
  }
}