.destination-hero-section {
  background-color: $color-background-neutral;
  position: relative;

  &__photos {
    min-height: 50vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.86) 100%),
      url("/assets/sobre/mulher-na-natureza.png") no-repeat center;
    background-size: cover;
  }

  &__content {
    position: absolute;
    color: white;
    bottom: 0;
    padding: $spacing-xl;
  }
}

.destination-video-section {
  background-color: $color-brand-1;
  width: 100%;
  text-align: center;

  &__title{
    color: $color-gray-4;
  }

  &__card {
    margin: 0 auto;
    text-align: center;
    max-width: 331px;
    max-height: 204px;

    @media (min-width: $breakpoint-md) {
      max-width: 582px;
      max-height: 359px;
    }
  }
}
