.itinerary {
  &__item {
    border-left: 1px dotted $color-brand-2;
    border-width: 4px;

    margin-left: 10px;
  }

  .accordion {
    .accordion__content {
      overflow: hidden;
      transition: height 0.2s ease;
    }

    .accordion__header:focus {
      ::after {
        height: min-content;
      }
    }
  }
}
