.itinerary {
  .itinerary-item__content {
    border-left: 1px dotted $color-gray-3;
    border-width: 2px;

    @media(min-width: $breakpoint-sm) {
      &__break {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .stay-detail-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;

    &__item {
      display: flex;
      width: 100%;
      gap: 10px;
    }
  }
}
