.itinerary {
  .itinerary-item__content {
    border-left: 1px dotted $color-gray-3;
    border-width: 2px;

    @media(min-width: $breakpoint-sm) {
      &__break {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .accommodation-action_image img {
      border-radius: $border-radius-xs;
    }
  }
}
