.itinerary {
  &__item {
    border-left: 1px dashed $color-brand-2;
  }

  .accordion {
    .accordion__content {
      overflow: hidden;
      transition: height 0.2s ease;
    }

    .accordion__header:focus {
      ::after {
        height: min-content;
      }
    }
  }
}
