name: Request Code Review

on:
  pull_request:
    types: [labeled]

jobs:
  request:
    if: ${{ github.event.label.name == 'request-review'}}
    name: Request Review on Discord
    runs-on: ubuntu-latest
    steps:
      - name: Send Message
        uses: mitz-it/discord-message-action@v1
        with:
          token: ${{ secrets.DISCORD_BOT_TOKEN }}
          channel-id: ${{ secrets.DISCORD_CHANNEL_ID }}
          message-content: ${{ format('https://github.com/tripevolved/travel-service/pull/{0}', github.event.pull_request.number)}}
          emote-id: "1257878286294323341"
          emote-name: propen
          emote-animated: false